* {
    box-sizing: border-box;
  }

body {
    background-color: #f1f1f1;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 50px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-align: center;
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    color: #fff;
    float: left;
    text-transform: capitalize;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: #f1f1f1;
    color: #333;
}

nav::after {
    clear: both;
}

main {
    width: 75%;
    float: left;
}

aside {
    width: 25%;
    float: right;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

img {
    width: 100%;
}

.clear {
    clear: both;
}

footer {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: gray;
}


details > summary {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

details[open] > summary {
    border-bottom: none;
}

details > p {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px;
    margin: 0;
}

@media screen and (max-width: 800px) {
    main {
        width: 100%;
        padding: 0;
    }
    
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 475px) {
    nav a {
        float: none;
        width: 100%;
    }
}
